#sidebar {
  width: 624px !important;
}

#legend {
  width: 600px;
}

#slider {
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
  margin-top: 20px;
  margin-bottom: 10px;
}

#month {
  font: bold 14px sans-serif;
}

.c3-xgrid-line.grid4 line {
    stroke: pink;
}

.c3-xgrid-line.grid4 text {
    fill: pink;
}

.mapboxgl-popup {
  max-width: 400px;
  font: bold 14px sans-serif;
}